{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "none",
    "arrowParens": "avoid",
    "endOfLine": "auto",
    "importOrder": [
        "^react$",
        "^[a-z]",
        "^[@/]",
        "^[./]"
    ],
    "importOrderSeparation": true
}